{{define "chartSection"}}
<div id="recentTestCharts">
    {{if .HasData}}
        <img src="/data/{{.ChartImagePath}}" alt="Recent Test Chart" id="recentTestChart" class="chart">
    {{else}}
        <p> No recent test charts found... </p>
    {{end}}
</div>
{{end}}