{{define "dataSection"}}
<div id="recentTestData">
    {{if .HasData}}
        <div class="test-result">
            <h3>ICMB Test Results for {{.ICMPTestResult.Host}}:{{.ICMPTestResult.Port}}</h3>
            <ul>
                <li>Packets: 
                    <ul>
                        <li>Sent = {{.ICMPTestResult.Sent}}</li>
                        <li>Received = {{.ICMPTestResult.Received}}</li>
                        <li>Lost = {{.ICMPTestResult.Lost}} ({{printf "%.1f" .LossPercentage}}% loss)</li>
                    </ul>
                </li>
                <li>Return-trip times:
                    <ul>
                        <li>Minimum = {{.ICMPTestResult.MinRTT}}</li>
                        <li>Maximum = {{.ICMPTestResult.MaxRTT}}</li>
                        <li>Average = {{.ICMPTestResult.AvgRTT}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    {{else}}
        <p>No recent test data available.</p>
    {{end}}
</div>
{{end}}